.cta {
  background-color: $blue-main;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: block;
  box-shadow: 0 4px 0 0 $blue-dark;
  border-radius: $b-radius / 2;
  margin: {
    right: auto;
    left: auto;
  }
  font: {
    size: 18px;
  }
  padding: {
    top: $spacing * 2.5;
    right: $spacing-xl;
    bottom: $spacing * 2;
    left: $spacing-xl;
  }

  .intro & {
    margin-top: $spacing-xl;
  }

  @include media($media-large) {
    &:hover {
      background-color: $blue-medium;
    }

    .intro & {
      margin-top: $spacing-xl * 2;
    }
  }
}
