.cta {
  cursor: pointer;
  background-color: $btn-cl;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: block;
  box-shadow: 0 4px 0 0 $btn-cl-darker;
  margin: {
    right: auto;
    left: auto;
  }
  font: {
    size: 18px;
  }
  padding: {
    top: $spacing * 2.5;
    right: $spacing-xl;
    bottom: $spacing * 2;
    left: $spacing-xl;
  }
  border: 0 {
    radius: $b-radius / 2;
  }

  .intro & {
    margin-top: $spacing-xl;
  }

  @include media($media-large) {
    &:hover {
      background-color: $btn-cl-darker;
    }

    .intro & {
      margin-top: $spacing-xl * 2;
    }
  }
}
