.footer {
  text-align: center;
  margin-top: $spacing-large * 2;

  @include media($media-large) {
    margin-top: $spacing-large;
  }
}

.footer-inner {
  border-top: 1px solid $white;
  padding: {
    top: $spacing-large;
    bottom: $spacing-large * 2;
  }
}
