.no-result {
  text-align: center;
  font-size: 18px;
  margin-top: $spacing-xl;
  padding: {
    left: $spacing;
    right: $spacing;
  }

  p {
    margin-top: $spacing * 3;
    &:first-of-type {
      font-style: italic;
    }
  }

  @include media($media-large) {
    margin-top: $spacing-xl * 3;
    p {
      margin-top: $spacing-large;
    }
  }
}
