.search-box-wrapper {
  position: relative;
  max-width: 400px;
  margin: {
    top: $spacing-large;
    left: auto;
    right: auto;
  }
  @include media($media-large) {
    width: 260px;
    margin: 0;
  }
}

.search-box {
  width: 100%;
  padding: ($spacing * 2) $spacing-xl;
  background-color: $input-bg;
  border: 1px solid $input-border-cl {
    radius: $b-radius / 2;
  }

  &::placeholder {
    color: transparentize($white, 0.2);
  }
  &:focus {
    outline: 0;
    border: 1px solid $white;
  }

  ~ .search-icon,
  ~ .clear-input-icon {
    &::before {
      position: absolute;
      top: 15px;
    }
  }
  ~ .search-icon {
    &::before {
      content: url('../icons/magnifying-glass.svg');
      left: $spacing;
    }
  }
  ~ .clear-input-icon {
    &::before {
      content: url('../icons/close-icon.svg');
      right: $spacing;
      cursor: pointer;
    }
  }
}
