.intro {
  text-align: center;
  font-size: 18px;

  .intro-msg {
    max-width: $paragraph-width;
    margin: auto {
      top: $spacing-large;
    }
  }

  @include media($media-large) {
    font-size: 24px;

    .intro-msg {
      margin-top: $spacing-large * 1.5;
    }
  }
}
