* {
  box-sizing: border-box;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: $page-bg-cl;
}

.app-main-wrapper {
  flex: 1 0 auto;
}

.app-header,
.app-main-wrapper,
.footer {
  width: 100%;
  max-width: $page-width;
}

.app-header,
.main,
.footer {
  padding: {
    left: $spacing;
    right: $spacing;
  }
  @include media($media-medium) {
    padding: {
      left: $spacing * 2;
      right: $spacing * 2;
    }
  }
  @include media($media-large) {
    padding: {
      left: 0;
      right: 0;
    }
  }
}

.main {
  margin-top: $spacing-large;
  @include media($media-large) {
    margin-top: $spacing-large * 1.5;
  }
}

.is-loading {
  text-align: center;
  font-size: 14px;
  color: $yellow;
}

.app-error,
.is-loading img {
  margin: auto {
    top: 25vh;
  }
}

.app-error {
  text-align: center;
  font-size: 20px;
  padding: {
    left: $spacing;
    right: $spacing;
  }
}

.emoticon {
  color: $yellow;
}
