$app-font: 'roboto', arial, helvetica, sans-serif;

$white: #fff;
$blue-main: #455dde;
$page-bg-cl: #2745b0;
$grey-light: #dedede;
$tags-font-cl: #2e2805;
$yellow: #fce551;

$blue-medium: darken($blue-main, 5%);
$blue-dark: darken($blue-main, 35%);
$input-bg: desaturate($page-bg-cl, 15%);

$input-border-cl: $blue-dark;
$highlight-cl: $blue-dark;

$spacing: 8px;
$spacing-large: 32px;
$spacing-xl: 40px;
$b-radius: 20px;

// break points
$page-width: 750px;
$paragraph-width: 640px;
$media-medium: 480px;
$media-large: 768px;

$tags-color-map: (
  business: #82f3fa,
  tech: $yellow,
  buzzword: #ff7f63,
  all: $blue-main
);
